
frontend/** linguist-vendored
**/frontend/** linguist-vendored

*.ts linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
*.json linguist-vendored


Dockerfile linguist-vendored
pnpm-lock.yaml linguist-vendored

*.java linguist-detectable=true
